.DS_Store
node_modules/
dist/
www/

platforms/
plugins/
hooks/
!src/libs/vue-cordova/plugins
!src/store/plugins
!src/libs/ed25519-hd-key/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.class