
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1521771216831'); /* IE9*/
  src: url('../fonts/iconfont.ttf?t=1521771216831') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot1:before { content: "\e6bf"; }

.icon-dot:before { content: "\e6c0"; }

.icon-erweima:before { content: "\e6c1"; }

.icon-erweima1:before { content: "\e61d"; }

.icon-cancel:before { content: "\e71b"; }

.icon-duigou:before { content: "\e640"; }

.icon-shoucang:before { content: "\e8c2"; }

.icon-shoucang-xianxing:before { content: "\e8c3"; }

.icon-btc:before { content: "\e609"; }

.icon-ETH:before { content: "\e60c"; }

.icon-XLM:before { content: "\e60e"; }

.icon-XRP:before { content: "\e60f"; }

.icon-LTC:before { content: "\e610"; }

.icon-ETC:before { content: "\e611"; }

.icon-BCH:before { content: "\e612"; }

.icon-NEO:before { content: "\e613"; }

.icon-ADA:before { content: "\e614"; }

.icon-XMR:before { content: "\e615"; }

.icon-EOS:before { content: "\e616"; }

.icon-DASH:before { content: "\e617"; }

.icon-MIOTA:before { content: "\e618"; }

.icon-XEM:before { content: "\e619"; }

.icon-USDT:before { content: "\e61a"; }

.icon-VEN:before { content: "\e61b"; }

.icon-TAU:before { content: "\e61c"; }

.icon-MOBI:before { content: "\e61e"; }

.icon-BTG:before { content: "\e61f"; }

.icon-LSK:before { content: "\e620"; }

.icon-QUMT:before { content: "\e621"; }

.icon-OMG:before { content: "\e622"; }

.icon-XRB:before { content: "\e623"; }

.icon-ZEC:before { content: "\e624"; }

.icon-ICX:before { content: "\e625"; }

.icon-STEEN:before { content: "\e626"; }

.icon-WTC:before { content: "\e628"; }

.icon-PPT:before { content: "\e629"; }

.icon-WAVES:before { content: "\e62a"; }

.icon-BCN:before { content: "\e62b"; }

.icon-STRAT:before { content: "\e62c"; }

.icon-XVG:before { content: "\e62d"; }

.icon-MKR:before { content: "\e62e"; }

.icon-SC:before { content: "\e62f"; }

.icon-BTS:before { content: "\e630"; }

.icon-DOGE:before { content: "\e631"; }

.icon-AE:before { content: "\e632"; }

.icon-REP:before { content: "\e633"; }

.icon-KMD:before { content: "\e634"; }

.icon-BTM:before { content: "\e635"; }

.icon-ZRX:before { content: "\e636"; }

.icon-ARK:before { content: "\e637"; }

.icon-ARDR:before { content: "\e638"; }

.icon-shouzimuzhanwei:before { content: "\e63b"; }

.icon-zhanwei:before { content: "\e63c"; }

.icon-shouzimuzhanweiW:before { content: "\e63d"; }

.icon-XFF:before { content: "\e63f"; }

.icon-xel:before { content: "\e641"; }

.icon-XCN:before { content: "\e642"; }

.icon-hkdt:before { content: "\e643"; }

.icon-STM:before { content: "\e644"; }

.icon-WICC:before { content: "\e645"; }

