// APP整体样式
@require '~@/stylus/color.styl'
.page
  background: $primarycolor.gray
.content
  color: $primarycolor.font
  font-size: 16px
  padding: 10px 10px
  padding-bottom: 60px
.right
  .material-icons
    font-size: 24px