// APP整体样式
@require '~@/stylus/color.styl'
.page
  background: $primarycolor.gray
  // padding-top: constant(safe-area-inset-top);
  // padding-bottom: constant(safe-area-inset-bottom);
.content
  color: $primarycolor.font
  font-size: 16px
  padding: 10px 10px
  padding-bottom: 60px
  display: block !important
.right
  .material-icons
    font-size: 24px
.flex-row
  display: flex
  .flex1
    flex: 1
  .flex2
    flex: 2
  .flex3
    flex:3
  .flex4
    flex: 4
  .flex5
    flex: 5
  .flex6
    flex: 6
  .flex7
    flex: 7
  .flex8
    flex: 8
  .flex9
    flex: 9
.textcenter
  text-align: center
.textleft
  text-align: left
.textright
  text-align: right
.block
  display: block
.f-right
  float: right

.line32
    height: 32px
    line-height: 32px
.vcenter
    vertical-align: middle
.margin-t-10
    margin-top: 10px
.full-width
  width: 100%
.full-page-width
  width: 100vw
.m-t-50
  margin-top: 50px!important
.m-t-48
  margin-top: 48px!important
.content.app-content
  padding: 0px 0px!important
.primarycolor
  color: $primarycolor.green

.font32
  font-size: 32px
.font28
  font-size: 28px

/**swiper样式覆盖*/
.swiper-pagination-bullet
  width: .3rem
  height: .3rem
  background: $secondarycolor.gray
  border: 1px solid $primarycolor.green
.swiper-pagination-bullet-active
  background: $primarycolor.green !important
.no-upper
  text-transform: none!important
.ios-status
  height: 24px!important
  width: 100%!important

.safe-bottom-content
  padding-bottom: 0
  padding-bottom: constant(safe-area-inset-bottom)
  padding-bottom: env(safe-area-inset-bottom)


@css {
  a:hover {
    text-decoration: none;
  }
  .theme--dark .tabs__bar, .application .theme--dark.tabs__bar{
    background: #212122!important;
  }
  .tabs__item.tabs__item--active{
    color: #21CE90!important;  
  }

  .tabs__div .tabs__item{
    font-size: 16px!important;
  }
  .tabs__div.tab1 .tabs__item:not(.tabs__item--active) {
    opacity: 1!important;
  }
  .tabs__div.tab2 .tabs__item{
    color: #21CE90!important;  
    opacity: 1!important;
  }
}
.tabs-bg-dark
  background: $primarycolor.gray!important
  .tabs-bar
    background: $primarycolor.gray!important

.underline
  text-decoration: underline