// APP整体样式
@require '~@/stylus/color.styl'
.page
  background: $primarycolor.gray
.content
  color: $primarycolor.font
  font-size: 16px
  padding: 10px 10px
  padding-bottom: 60px
.right
  .material-icons
    font-size: 24px
.flex-row
  display: flex
  .flex1
    flex: 1
  .flex2
    flex: 2
  .flex3
    flex:3
  .flex4
    flex: 4
  .flex5
    flex: 5
  .flex6
    flex: 6
  .flex7
    flex: 7
  .flex8
    flex: 8
  .flex9
    flex: 9
.textcenter
  text-align: center
.textleft
  text-align: left
.textright
  text-align: right
.block
  display: block
.f-right
  float: right

.line32
    height: 32px
    line-height: 32px
.vcenter
    vertical-align: middle
.margin-t-10
    margin-top: 10px
.full-width
  width: 100%
.full-page-width
  width: 100vw