// define color

$primarycolor = {
  'green': #21ce90,//工具栏绿色
  'red': #f35833,//错误等信息显示的红色
  'gray': #212122,//主体背景色，黑色
  'font': #FFFFFF//字段主要颜色，白色
}

$secondarycolor = {
  'green': #216549,//深绿色
  'red': #733520,//深红色
  'gray': #303034,//底部工具栏背景色
  'font': #999999//字体颜色，底部工具栏字体等默认颜色
}