// define color

$primarycolor = {
  'green': #21ce90,
  'red': #f35833,
  'gray': #212122,
  'font': #FFFFFF
}

$secondarycolor = {
  'green': #216549,
  'red': #733520,
  'gray': #303034,
  'font': #999999
}