@import '../assets/css/material-icons.css'
@import '../assets/css/iconfont.css'

@require '../../node_modules/vuetify/src/stylus/settings/_colors'

@require './color.styl'

@require('../../node_modules/swiper/dist/css/swiper.css')

$theme := {
  primary: $primarycolor.green
  accent: $primarycolor.red
  secondary: $secondarycolor.green
  info: $secondarycolor.green
  warning: $primarycolor.red
  error: $primarycolor.red
  success: $secondarycolor.green
}
 
@import '../../node_modules/vuetify/src/stylus/main.styl'
//@require '../../node_modules/vuetify/src/stylus/app'