@require '~@/stylus/app.styl'
.avatar-wrapper
    text-align: center
    .avatar-back
        background: $primarycolor.gray
        height: 62px
        line-height: 62px
        display: inline-block
        width: 62px
        border-radius: 62px
        .avatar
            font-size: 38px
            color: $primarycolor.green
.title
  margin-top: 5px
  height: 32px
  line-height: 32px!important
  font-size: 16px
.address
  height: 14px
  line-height: 14px!important
  font-size: 14px
  color: $secondarycolor.font
.settings-ul
    padding: 10px 10px
    .settings-li
        font-size: 16px
        height: 42px
        line-height: 42px
        position relative
        .circular
          width 18px
          height 18px
          display inline-block
          position absolute
          margin-left: 10px
          top 12px
          background: $primarycolor.red
          border-radius 10px
          text-align center
          line-height: normal
// color:$primarycolor.green
        .pincodeswitch
            float: right
            width: 50px
            padding-top: 0px
.My_my_infocard
    background-color:$secondarycolor.gray
.My_my_tabbar
    background-color:$secondarycolor.gray
