@require '~@/stylus/color.styl'
@css{
  ::-webkit-scrollbar{
    width:0px
  }
}

.footer-btns
  position: fixed
  bottom: 0
  padding-bottom: 0px
  padding-bottom: constant(safe-area-inset-bottom)
  padding-bottom: env(safe-area-inset-bottom)
  left: 0
  right: 0
  background: $primarycolor.gray
.btn-flex
  padding: 5px 8px
.btn-buy
.btn-sell
  width: 100%
  padding: 0px 0px
  margin: 0 0
  height: 46px
  font-size: 16px
  text-align: center
  border-radius: 5px
  .available
    font-size: 14px
.btn-buy
  background: $primarycolor.green
.btn-sell
  background: $primarycolor.red
input[type=number] 
  -moz-appearance:textfield

input[type=number]::-webkit-outer-spin-button
input[type=number]::-webkit-inner-spin-button 
  -webkit-appearance: none;
  margin: 0;

.maintent
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.trade-content
  padding-top: 24px
  // padding-top:calc(24px + constant(safe-area-inset-top))
  // padding-top:calc(24px + env(safe-area-inset-top))