@require '~@/stylus/color.styl'
.k
  width: 100%
.atitle
  padding-bottom: 8px
.price
  font-size: 20px
.code
  font-size: 16px
.up
  color: $primarycolor.green
.down
  color: $primarycolor.red
.change
.rate
    line-height: 30px
    vertical-align: bottom
.label
  color: $secondarycolor.font
  padding-left: 2px
  padding-right: 2px
.values
  font-size: 14px

.btn-fullscreen
    position: absolute
    right: 12px
    z-index: 9
    .material-icons
        color: $primarycolor.green
.chgresolution
    padding-top: 8px
    padding-bottom: 5px
    color: $secondarycolor.font
    .active
        color: $primarycolor.green
.material-icons.k-icon
    color: $primarycolor.green
.title-btn-div
  line-height: 60px
.divinline
  display: inherit
.lchange
  font-size: 14px
  display: block
  span
    display: inline-block
    white-space: nowrap